<div class="animated fadeIn dashboard">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Enter Card Data</strong>
                </div>
                <div class="card-block">
                    <form action="" method="post" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label" for="question-input">Question</label>
                            <div class="col-md-10">
                                <input type="text" id="question-input" name="question-input" class="form-control" [(ngModel)]="question"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label" for="category-select">Category</label>
                            <div class="col-md-10">
                                <select id="category-select" name="category-select" class="form-control" [(ngModel)]="selectedCategory">
                                    <option *ngFor="let category of categories" value="{{category}}">
                                        {{category}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label" for="bet-close-input">Bet Closing Date</label>
                            <div class="col-md-10">
                                <input type="text" id="bet-close-input" name="bet-close-input" class="form-control" [(ngModel)]="betClose" />
                            </div>
                        </div>
                        <div class="row cards-options-header">
                            <h5 class="col-md-2">Options</h5>
                            <div class="col-md-10 button-add-options">
                                <button type="button" class="btn btn-success" (click)="addOptionClick()"><i class="fa fa-plus-square"></i>&nbsp; Add Option</button>
                            </div>
                        </div>
                        <div class="form-group row cards-options-input">
                            <div class="col-md-12">
                                <div class="row option-row" *ngFor="let option of options; let i = index;">
                                    <span class="col-md-2 form-control-label">Option {{i+1}}</span>
                                    <div class="col-md-7 option-name">
                                        <input type="text" id="option-name-{{i}}-input" name="option-name-{{i}}-input" class="form-control" placeholder="Name" [(ngModel)]="option.name"/>
                                    </div>
                                    <div class="col-md-3 option-result input-group">
                                        <input type="text" id="option-result-{{i}}-input" name="option-result-{{i}}-input" class="form-control" placeholder="Percentage Result" [(ngModel)]="option.result" />
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-primary" (click)="submitCard()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <strong>View Card Data</strong>
                </div>
                <div class="card-block">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Category</th>
                                <th>Bet Closing Date</th>
                                <th>Options</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let currentCard of currentCards | async">
                                <td>{{currentCard.question}}</td>
                                <td>{{currentCard.category}}</td>
                                <td>{{currentCard.betCloseDate}}</td>
                                <td>
                                    <span *ngFor="let option of currentCard.options; let i = index">{{i+1}}) {{option.name}}  &nbsp;&nbsp;</span>
                                </td>
                                <td class="card-item-actions">
                                    <a (click)="pencilClick(currentCard)">
                                        <i class="glyphicons glyphicons-pencil" ></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Edit Card</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="question-input">Question</label>
                    <div class="col-md-10">
                        <input type="text" id="question-input" name="question-input" class="form-control" [(ngModel)]="editQuestion" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="category-select">Category</label>
                    <div class="col-md-10">
                        <select id="category-select" name="category-select" class="form-control" [(ngModel)]="editSelectedCategory">
                            <option *ngFor="let category of categories" value="{{category}}">
                                {{category}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="bet-close-input">Bet Closing Date</label>
                    <div class="col-md-10">
                        <input type="text" id="bet-close-input" name="bet-close-input" class="form-control" [(ngModel)]="editBetClose" />
                    </div>
                </div>
                <div class="form-group row cards-options-input">
                    <div class="col-md-12">
                        <div class="row option-row" *ngFor="let option of editOptions; let i = index;">
                            <span class="col-md-2 form-control-label">Option {{i+1}}</span>
                            <div class="col-md-7 option-name">
                                <input type="text" id="option-name-{{i}}-input" name="option-name-{{i}}-input" class="form-control" placeholder="Name" [(ngModel)]="option.name" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary" (click)="editCard()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
