/// <reference path="../../scss/_bootstrap-variables.scss" />

.dashboard {
    .cards-options-header {
        .button-add-options {
            margin-bottom: .3em;
        }
    }
    .cards-options-input {
        .option-row {
            margin-bottom: .3em;
        }
    }
    
    .card-block {
        .card-item-actions {
            a {
                cursor: pointer;
                color: $brand-primary;
            }
        }
    }
}
